# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# Custom directories to ignore
data/
model_results/

# Specific files to ignore
Labellar_efor_testi_bileske_anonim.xlsx
deneme.jpeg